<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/edit/{id}" method="post">
    <h1>Nhập thông tin sửa đổi ?</h1>
    <h3>Tên sinh viên </h3>
    <input type="text" name="name" placeholder="Name" value="{name}">
    <br>
    <h3>Tuổi </h3>
    <input type="text" name="price" placeholder="Age" value="{age}">
    <br>
    <h3>Nơi ở</h3>
    <input type="text" name="description" placeholder="Address" value="{address}">
    <br>
    <br>
    <button type="submit">Thêm</button>

</form>
</body>
</html>